<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sentiment Analysis</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body>
    <div class="container">
        <h1>Product Review Sentiment Analysis</h1>
        <form id="review-form">
            <textarea name="review" id="review" placeholder="Enter your review here..." required></textarea>
            <button type="submit">Analyze Sentiment</button>
        </form>
        <div id="result"></div>
    </div>

    <p>Made with ❤ by Kunal Singh</p>
    <script src="/static/js/script.js"></script>
</body>
</html>
